
.section {
    display: flex;
    padding-top: 10em;
    padding: 2em;
    flex-direction: column;
    gap: 2em;

    &__title {
        font-size: clamp(1.2rem, 1.5vw, 3rem);
        font-weight: 700;
        padding: 0.4em 0 0.4em 0;
    }

    &__subtitle {
        font-size: clamp(1rem, 1.5vw, 3rem);
        font-weight: 600;
        padding: 0.4em 0 0.4em 0;
    }

    &--active {
        display: flex;
    }
    &--inactive {
        display: none;
    }

    &__content {
        width: 100%;
        &__cover {
            width: 100%;
            height: auto;
            display: grid;
            

            &__image {
                width: 100%;
                max-width: 38em;
                margin: auto;
                height: 100%;
                max-height: 28em;
                object-fit: cover;
            
            }
        }
        &__description {
            margin-top: 1em;
            font-size: 1.1em;
            font-weight: 500;
            line-height: 1.5;
        }

    }
}


.options {
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(10em, 48%), 1fr));
    
    &--image {
        grid-template-columns: repeat(auto-fill, minmax(min(14em, 100%), 1fr));
    }
    
    gap: 0.5em;
    
}


.cardd {
    position: relative;
    height: 12em;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 0 1em 0 1em;
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    border-radius: 5px;
    backface-visibility: hidden;
    cursor: pointer;

    &--imageOption {
        transition: scale 0.2s ease-in;
        height: auto;
        scale: 1;
        padding: 0;
        
        
        &:hover {
            z-index: 4;
            filter: grayscale(0);
            
        }
        
        .card__image--cover {
            transition: filter 0.2s linear;
            filter: grayscale(0);
        }

        .card__input:not(.choice__input):checked + .card__image--cover {
            filter: grayscale(70%);
        }

        .card__input:not(.choice__input):checked {
            background-color: rgba(0, 0, 0, 0.301);
            border: none;
            &::after { filter: invert(1);}
        }
    }

    &__image {
        &--cover{
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }

    &__text {
        width: fit-content;
        font-weight: 500;
    }

    &:hover {
        background-color: rgba(231, 231, 231, 0.516);
        color: #000;
    }

    &__input {
        position: absolute;
        display: block;
        outline: none;
        border: none;
        background: none;
        padding: 0;
        margin: 0;
        -webkit-appearance: none;
        width: 100%;
        height: 100%;
        z-index: 1;
        border-radius: 5px;

        &:not(.choice__input):checked {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(179, 179, 179, 0.668);
            
            border: 2px solid rgb(65, 65, 65);

            &::after {
                transition: all 1s linear;
                position: absolute;
                content: '';
                width: 4em;
                height: 4em;
                background-image: url('../img/trash.svg');
                background-size: 2em;
                background-repeat: no-repeat;
                background-position: center center;
                animation: firework 0.2s cubic-bezier(.98,.05,.96,.46) forwards;
            }
        }

        &[type="radio"]:checked  {
            justify-content: center;
            align-items: center;
        }

    }

    &.choice {user-select: none;}
}
