@use './../variables';

$s-01: 0.1rem;
$s-02: 0.4rem;
$s-03: 0.6rem;
$s-04: 0.8rem;

$m-01: 1rem;
$m-02: 1.4rem;
$m-03: 1.6rem;
$m-04: 1.8rem;

$l-01: 2rem;
$l-02: 2.4rem;
$l-03: 3rem;
$l-04: 3.6rem;
$l-05: 4.2rem;
$l-06: 4.8rem;

/* Estilos para o modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        max-width: 600px;
        background-color: #fff;
    }
    
    .card {
        padding: $m-01;

        .header {
            padding: var(--pd-s4);
            border-bottom: 1px solid rgb(201, 201, 201);
        }

        .user-attrs-list {
            .field {
                padding: var(--pd-s4);
                display: flex;
                justify-content: space-between;
            }
        }
    }
}


/* Estilos para a lista de usuários */
#users-list {
    list-style: none;
    padding: 0;
    
    li {
        margin-bottom: 10px;
        padding: 10px;
        background-color: #f2f2f2;
        cursor: pointer;
        &:hover {
            background-color: #e6e6e6;
        }
    }
}