{% extends 'Base.html' %}

{% load static %}

{% block head %}
<title>Pesquisar profissionais</title>

{% endblock %}

{% block pagetitle %}
<div class="pagetitle">
    <h1>Pesquisar profissionais</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item"><a href="/consulta/procurar_profissional/">Pesquisar</a></li>
      </ol>
    </nav>
</div><!-- End Page Title -->
{% endblock %}


{% block content %}

<form class="row g-3 mb-3" action="/consulta/procurar_profissional/" method="GET">
    <div class="col-md-6">
        <div class="input-group">
            <select name="tipo" class="form-select" id="animalSelect">
                <option value="" {% if not tipo == 'N' or not tipo == 'N' %}selected{% endif %} >Selecionar tipo de profissional</option>
                <option value="N" {% if tipo == 'N' %}selected{% endif %} >NUTRICIONISTA</option>
                <option value="EF" {% if tipo == 'EF' %}selected{% endif %}>EDUCADOR FÍSICO</option>
            </select>
        </div>
    </div>
    <div class="col-md-6">
        <input type="text" class="form-control" name="cpf" placeholder="Cpf" value="{{ cpf }}">
    </div>
    <div class="col-md-6">
        <input type="text" class="form-control" name="localAtendimento" id="localAtendimento" placeholder="local de atendimento" value="{{ localAtendimento }}">
    </div>
    <div class="col-md-6">
        <input type="text" class="form-control" name="codigoAutenticador" id="codigoAutenticador" placeholder="Código de autenticação" value="{{ codigoAutenticador }}">
    </div>
    <div class="col-md-4">
        <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#largeModal"><i class="fas fa-search"></i> Procurar</button>
        <a href="/consulta/procurar_profissional/" class="">limpar filtros</a>
    </div>
</form>

<!-- lista_usuarios.html -->

{% if profissionais %}
<ul class="list-group">

    <li class="list-group-item">Resultados: {{profissionais.count }}</li>
    
    {% for profissional in profissionais %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <img width="40" height="40" src="{% if profissional.foto %} {{ profissional.foto.url }} {% else %} {% static 'img/profile-placeholder.jpg' %} {% endif %}" alt="Profile" class="rounded-circle">

          <div class="ms-3">
            <div class="fw-bold">{{ profissional.first_name }} {{ profissional.last_name }} @{{ profissional.last_name }}</div>
            <div class="text-muted">{% if profissional.tipo == 'N' %}Nutricionista {% else %} Educador Físico {% endif %} </div>
          </div>
        </div><!-- template.html -->
        <a class="btn btn-link btn-rounded btn-sm" href="{% url 'detalhar_perfil' profissional.id %}" role="button">Ver</a>
    </li>
    
    {% endfor %}
</ul>
{% else %}
<div class="container-fluid">
    <div class="row">
      <div class="col-12 text-center py-4">
        <span class="text-gray-600" >Nenhum resultado para sua consulta</h1>
      </div>
    </div>
</div>
  
{% endif %}

{% endblock %}

