{% extends './../base.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static '/style/registration/login.css' %}">
    <title> Entre </title>
{% endblock %}

{% block content %}
    <main class="content">
        
        <div class="card">

            <header class="card__header">
                <div class="logo">
                    <img src="{% static '/assets/logo.svg' %}" alt=""> 
                    <span class="logoName">
                        <span class="text-secondary">Nutri</span>Ativo
                    </span>
                </div>
                <h1 class="title">Fazer login</h1>
                <h2 class="subtitle">Use sua Conta do NutriAtivo</h2>

            </header>

            <div class="card__body">

                <form class="card-form form" method="POST" action=".">
                    {% csrf_token %}
                    <ul>
                        {% for field in form %}
                            <li>
                                <div class="field">
                                    {{ field }}
                                    {{ field.label_tag }}
                                </div>
                                {{ field.errors }}
                            </li>
                        {% endfor %}
                    </ul>
                    
                    <div class="actions">
    
                        <a href="/accounts/registrar" class="btn text-secondary">Criar conta</a>
    
                        <button class="btn submit" type="submit">
                            Entrar
                        </button>
    
                    </div>
                </form>


            </div>

        </div>

    </main>
{% endblock %}