{% extends './baselogin.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static '/style/registration/login.css' %}">
    <title> Esqueceu a senha </title>
{% endblock %}

{% block content %}
    <main class="content">
        
        <div class="card">

            <header class="card__header">
                <div class="logo">
                    <img src="{% static '/assets/logo.svg' %}" alt=""> 
                    <span class="logoName">
                        <span class="text-secondary">Nutri</span>Ativo
                    </span>
                </div>
                <h2 class="subtitle">Esqueceu a senha?</h2>

            </header>

            <div class="card__body">

                <form class="card-form form" method="POST">
                    {% csrf_token %}
                    <ul>
                        {% for field in form %}
                        <li>
                            <div class="field">
                                {{ field }}
                                {{ field.label_tag }}
                            </div>
                            {{ field.errors }}
                        </li>
                        {% endfor %}
                    </ul>
                    
                    <div class="actions">
    
                        <a href="/accounts/login" class="btn text-secondary">Lembrou a senha?</a>
    
                        <button class="btn submit" type="submit">
                            Redefinir
                        </button>
    
                    </div>
                </form>


            </div>

        </div>

    </main>
{% endblock %}