{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <div class="list-group">
          <a href="{% url 'listarConsultasPorUsuario' %}" class="list-group-item">Minhas Consultas</a>&nbsp;&nbsp;
          <a href="{% url 'listarTreinoPorUsuario' %}" class="list-group-item">Meus Treinos</a>&nbsp;&nbsp;
          <a href="{% url 'listarDietaPorUsuario' %}" class="list-group-item">Minhas Dietas</a>&nbsp;&nbsp;
          <a href="{% url 'listarConsultasPorUsuario' %}" class="list-group-item">Prontuarios</a>&nbsp;&nbsp;
          {% if request.user.is_staff or request.user.is_superuser %}
          <a href="/medicos/agendas/" class="list-group-item">Agendas</a>&nbsp;&nbsp;
          <a href="{% url 'vizualizarConsulta' %}" class="list-group-item">Consultas</a>&nbsp;&nbsp;
          <a href="/medicos/admim/lista/medicos/" class="list-group-item">Medicos</a>&nbsp;&nbsp;
          <a href="/medicos/admim/lista/especialidades/" class="list-group-item">Especialidade</a>&nbsp;&nbsp;
          {% endif %}
        </div>
    </div>
{% endblock %}