{% extends 'Base.html' %}
{% load bootstrap %}

{% load static %}

{% block head %}
<title>Agenda de {{ request.user.username }} </title>
{% endblock %}

{% block pagetitle %}
<div class="pagetitle">
    <h1>Gerenciar consulta</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item"><a href="/consulta/listarConsultas/">Consultas</a></li>
        <li class="breadcrumb-item"><a href="/consulta/detalhar/{% if treino %}{{ treino.consulta.id}}{%else%}{{ dieta.consulta.id}}{%endif%}/"> Consulta</a></li>
        <li class="breadcrumb-item">
            Editar {% if treino %}treino {{ treino.get_diaSemana_display }}{%else%}dieta {{ dieta.get_diaSemana_display }}{%endif%}
        </li>
      </ol>
    </nav>
</div><!-- End Page Title -->
{% endblock %}
{% block content %}
<div class="container-fluid py-4">
    

    <div class="row">
        <div class="card">
            <div class="card-header pb-0 p-3">
                <div class="row">
                <div class="col-6 d-flex align-items-center">
                    <h5 class="card-title">Editar {% if treino %}o treino{%else%}a dieta{%endif%}</h5>
                </div>
                </div>
            </div>  
            <div class="card-body p-3">
            
                <form action="." method="post" novalidate>
                    {% csrf_token %}
                    {{ form|bootstrap }}
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="Salvar">
                      </div>
                </form>
          
        </div>        
    </div>
</div>
{% endblock %}