{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static '/assets/logo.svg' %}" rel="icon">
  <link href="{% static '/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <script src="https://kit.fontawesome.com/12608b871a.js" crossorigin="anonymous"></script>
  <!-- Vendor CSS Files -->
  <link href="{% static '/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/simple-datatables/style.css' %}" rel="stylesheet">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  
  {%block head%} {% endblock %}

  <!-- Template Main CSS File -->
  <link href="{% static '/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: May 30 2023 with Bootstrap v5.3.0
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  {% include './Header.html' %}


  
  <main id="main" class="main">
    {% include './sidebar.html' %}


    {% block pagetitle %}

    {% endblock %}
  

    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    

        <div class="container-fluid py-4">
          <div class="row">
            <div class="col">
                <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="https://img.freepik.com/fotos-gratis/uma-academia-com-uma-barra-no-chao-e-uma-placa-que-diz-peso_1340-38220.jpg?w=740&t=st=1689005448~exp=1689006048~hmac=727544c514a34aefa67388355d123680bf38dd9c1a3a050785c5dacbe0a590e9" class="d-block w-100" alt="none">
                      </div>
                      <div class="carousel-item">
                        <img src="https://img.freepik.com/fotos-gratis/colecao-de-salada-saudavel-com-vegetais-organicos-frescos-gerados-por-ia_24640-81459.jpg?w=900&t=st=1689005370~exp=1689005970~hmac=9485164d76267558a8ab89e59bc91b90d74e5388b4ea06b76c01cb6823ddb58d" class="d-block w-100" alt="none">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
          </div>
        </div>
      </main>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static '/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static '/assets/vendor/quill/quill.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static '/js/main.js' %}"></script>

</body>

</html>