{% extends 'Base.html' %}
{% load static %}

{% block head %}
<title> {{ profissional.last_name }} no NuPhy </title>
{% endblock %}

{% block pagetitle %}

<div class="pagetitle">
    <h1>Perfil profissional</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item"><a href="/consulta/procurar_profissional/">Pesquisar</a></li>
        <li class="breadcrumb-item">Perfil de profissional</li>
      </ol>
    </nav>
</div>

{% endblock %}

{% block content %}
<section class="section profile">
    <div class="row">
      <div class="col-xl-4">

        <div class="card">
          <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

            <img src="{% if profissional.foto %} {{ profissional.foto.url }} {% else %} {% static 'img/profile-placeholder.jpg' %} {% endif %}" alt="Profile" class="rounded-circle">
            <h2>{{ profissional.first_name }} {{ profissional.last_name }}</h2>
            <h3>{% if profissional.tipo == 'N' %} Nutricionista {% elif profissional.tipo == 'ED' %} Educador Físico {% endif %}</h3>
            <div class="social-links mt-2">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>

      </div>

      <div class="col-xl-8">

        <div class="card">
          <div class="card-body pt-3">
            <!-- Bordered Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered">

              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
              </li>

              <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-horarios">Horarios disponiveis</button>
              </li>

            </ul>
            <div class="tab-content pt-2">

              <div class="tab-pane fade  profile-overview" id="profile-overview">
                <!-- <h5 class="card-title">About</h5> -->
                <!-- <p class="small fst-italic">Sunt est soluta temporibus accusantium neque nam maiores cumque temporibus. Tempora libero non est unde veniam est qui dolor. Ut sunt iure rerum quae quisquam autem eveniet perspiciatis odit. Fuga sequi sed ea saepe at unde.</p> -->

                <h5 class="card-title">Detalhes do perfil</h5>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label ">Nome completo</div>
                  <div class="col-lg-9 col-md-8">{{ profissional.first_name }} {{ profissional.last_name }}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Profissição</div>
                  <div class="col-lg-9 col-md-8">{% if profissional.tipo == 'N' %} Nutricionista {% elif profissional.tipo == 'EF' %} Educador Físico {% endif %}</div>
                </div>

                {% if profissional.localAtendimento  %}
                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Local atendimento</div>
                  <div class="col-lg-9 col-md-8"> {{ profissional.localAtendimento }}</div>
                </div>
                {% endif %}

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Email</div>
                  <div class="col-lg-9 col-md-8">{{ profissional.email }}</div>
                </div>

              </div>

              <div class="tab-pane show active fade pt-3" id="profile-horarios">

                <!-- Settings Form -->
                <form method="post" action="{% url 'criar_consulta' %}" id="formHorario">
                  {% csrf_token %}
                  <input type="hidden" name="horario" id="input-horario">
                  <div class="container">
                      <div id="calendar"></div>
                      <div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Sobre o Hórario</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                            </div>
                            <div class="modal-body">
                                <p id="eventTitle"></p>
                                <p id="eventStart"></p>
                                <p class="local"> Local de atendimento: {% if profissional.localAtendimento  %} {{ profissional.localAtendimento }} {% else %} Não definido {% endif %}</p>
                            </div>
                            <div class="modal-footer">
                                  <button type="submit" class="btn btn-primary">Marcar consulta</button>

                                  <button type="button" class="btn btn-secondary close-btn" data-bs-dismiss="modal">Fechar</button>
                      
                                    <script>
                                        const modal = document.getElementById('eventModal');
                                        const close_btn = document.querySelector(".close-btn");
                      
                                        close_btn.addEventListener("click", () => {
                                                modal.style.display = 'none';
                            
                                                modal.classList.remove('show');
                                                modal.classList.add('hide');
                                            })
                                    </script>
                            </div>
                            
                          </div>
                        </div>
                      </div>
                  </div>
                </form><!-- End settings Form -->

              </div>

            </div><!-- End Bordered Tabs -->

          </div>
        </div>

      </div>
    </div>
  </section>

<!-- Modal inicio -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>

<script>
  const list = [
    {% for evento in horarios %}
      {
        title: '{{ evento.hora }}',
        start: '{{ evento.data|date:"Y-m-d" }}',
        end: '{{ evento.data|date:"Y-m-d" }}',
        id_horario: '{{ evento.id }}',
        data: '{{ evento.data }}',
        horario: '{{ evento.get_data_display }}'

      },
      {% endfor %}
    ]

  document.addEventListener('DOMContentLoaded', function() {
      const calendarEl = document.getElementById('calendar');
      const inputHorario = document.getElementById('input-horario')
      const calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        events: list,
        eventClick: function(info) {
                  // Obtém os dados do evento
                  const event = info.event;

                  if (event ) {
                    
                    // Preenche as informações do evento no modal
                    document.getElementById('eventStart').textContent = `Data: ${event.extendedProps.data} dás ${event.extendedProps.horario}  `;
                    inputHorario.value = String(event.extendedProps.id_horario);
                    // Abre o modal
                    const modal = document.getElementById('eventModal');

                    modal.style.display = 'block';

                    // Adicione aqui a lógica para preencher o modal com os dados do evento clicado

                    modal.classList.add('show');
                    modal.classList.remove('hide');
                  }
              }
      });
      calendar.render();
      calendarEl.style.minHeight = '400px';
  });
</script>

{% endblock%}