{% load static %}

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
      {% if user.is_authenticated %}
              {% if user.groups.exists %}
                {% for group in user.groups.all %}
                    {% if group.name == 'Administrador' %}
                      <li class="nav-item">
                        <a class="nav-link collapsed" href="{% url 'listar_usuarios_pendentes' %}">
                          <i class="fas fa-box-check"></i>
                          <span>Autorizar usuarios</span>
                        </a>
                      </li>
                    {% elif group.name == 'Cliente'%}
                      <li class="nav-item active">
                        <a class="nav-link collapsed" href="{% url 'procurar_profissional' %}">
                          <i class="fas fa-search"></i>
                          <span>Procurar consulta</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link collapsed" href="{% url 'listar_consultas' %}">
                          <i class="fas fa-clipboard-check"></i>
                          <span>Consultas</span>
                        </a>
                      </li>
                    {% elif group.name == 'Nutricionista' or group.name == 'Educador Fisico' %}
                      <li class="nav-item">
                        <a class="nav-link collapsed" href="{% url 'listar_consultas' %}">
                          <i class="fas fa-clipboard-check"></i>
                          <span>Consultas</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link collapsed" href="{% url 'gerenciarHorario' %}">
                          <i class="fas fa-calendar"></i>
                          <span>Agenda</span>
                        </a>
                      </li>
                    {% endif %}
                {% endfor %}
              {% endif %}
            {% else %}

            <li class="nav-item">
              <a class="nav-link collapsed" href="{% url 'login' %}">
                <i class="fas fa-dumbbell"></i>
                <span>Login</span>
              </a>
            </li>
            {% endif %}  
    </ul>

  </aside><!-- End Sidebar-->