
  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="/animal/pesquisar/">
          <i class="fas fa-search"></i>
          <span>Procurar</span>
        </a>
      </li><!-- End Dashboard Nav -->


      <li class="nav-item">
        <a class="nav-link collapsed" href="/match/gerenciar/">
          <i class="fas fa-heart"></i>
          <span>Matchs</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/animal/listar/">
          <i class="fas fa-paw"></i>
          <span>Meus Animais</span>
        </a>
      </li><!-- End Register Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/animal/listar/">
          <i class="fas fa-bell"></i>
          <span>Notificaçoẽs</span>
        </a>
      </li><!-- End Register Page Nav -->

   
    </ul>

  </aside><!-- End Sidebar-->