
  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="/animal/pesquisar/">
          <i class="fas fa-search"></i>
          <span>Procurar</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/match/gerenciar/">
          <i class="fas fa-utensils"></i>
          <span>Dieta</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/match/gerenciar/">
          <i class="fas fa-dumbbell"></i>
          <span>Treino</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/animal/listar/">
          <i class="fas fa-clipboard"></i>
          <span>Consultas</span>
        </a>
      </li><!-- End Register Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/animal/listar/">
          <i class="fas fa-calendar-check"></i>
          <span>Agenda</span>
        </a>
      </li><!-- End Register Page Nav -->

   
    </ul>

  </aside><!-- End Sidebar-->