{% extends './../sidebar-base.html' %}

{% load static %}
{% block content %}
<li class="nav-item">
  <a class="nav-link " href="../pages/dashboard.html">
    <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
      <img src="{% static 'img/dashboard-svgrepo-com.svg' %}" width="15px" height="15px"  alt="">
    </div>
    <span class="nav-link-text ms-1">Dashboard</span>
  </a>
</li>

<li class="nav-item">
  <a class="nav-link  active" href="{% url 'gerenciarHorario' %}">
    <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
      <img src="{% static 'img/calendar-svgrepo-com.svg' %}" width="18px" height="18px"  alt="">
    </div>
    <span class="nav-link-text ms-1">Horarios</span>
  </a>
</li>

<li class="nav-item">
  <a class="nav-link" href="/consulta/gerenciarConsulta">
    <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
      <img src="{% static 'img/med-kit-svgrepo-com.svg' %}" width="18px" height="18px"  alt="">
      
    </div>
    <span class="nav-link-text ms-1">Consultas</span>
  </a>
</li>


{% endblock %}